/* Set up the runhead palette */
:root {
    --runheadlight-color:#585858;
    --runheaddark-color:#303030;
    --runheadgold-color:#FFCC00;
}


body {
  background-color: var(--runheaddark-color);
}

h1 {
  color: var(--runheadgold-color);
  font-size:80px;
  margin-left: 20px;
  font-family: "Open Sans", Helvetica, sans-serif;

}

h2 {
  color: var(--runheadgold-color);
  font-size:20px;
  font-weight: lighter;
  margin-left: 20px;
  font-family: "Open Sans", Helvetica, sans-serif;
}

img {
  border-radius: 8px;
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(0%);
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--runheadlight-color);
  overflow: hidden;
}

/* Style the links inside the navigation bar & stick it to the top */
.topnav a {
  display:block;
  float: left;
  color: var(--runheadgold-color);
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, sans-serif;
  border-right: 1px solid var(--runheadgold-color);
  position: sticky;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--runheadlight-color);
  color: black;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--runheadgold-color);
  color: var(--runheadlight-color);
}

/* Added this as a temporary rule while COVID is here, comment it out after*/
.topnav a:last-child {
  background-color: red;
  color: black;

}


/* Add a black background color to the top navigation */
.footnavbar {
  background-color: var(--runheadlight-color);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar & stick it to the top */
.footnavbar a {
  float: left;
  color: var(--runheadgold-color);
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
  font-size: 12px;
  font-family: "Open Sans", Helvetica, sans-serif;
  border-right: 1px solid var(--runheadgold-color);
  position: sticky;
}

/* Change the color of links on hover */
.footnavbar a:hover {
  background-color: var(--runheadlight-color);
  color: black;

}

/* Add a color to the active/current link */
.footnavbar a.active {
  background-color: var(--runheadgold-color);
  color: var(--runheadlight-color);
}



/* For the pace convertor tool */
input[type="number"]
{
    font-size:40px;
    width:48px;
}